fluxInstance:
  cluster:
    domain: cozy.local
  distribution:
    version: 2.3.x
    registry: ghcr.io/fluxcd
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
    - image-reflector-controller
    - image-automation-controller
