{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "vm-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "vm-operator.labels" . | indent 4 }}
{{- end -}}
{{- with .Values.extraLabels }}
{{ toYaml . | indent 4 }}
{{- end }}
{{- with .Values.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
