cilium:
  hubble:
    enabled: false
  externalIPs:
    enabled: true
  autoDirectNodeRoutes: false
  kubeProxyReplacement: strict
  bpf:
    masquerade: false
  loadBalancer:
    algorithm: maglev
  cgroup:
    autoMount:
      enabled: false
    hostRoot: /sys/fs/cgroup
  ipam:
    mode: "kubernetes"
  k8sServiceHost: localhost
  k8sServicePort: 7445

#  cni:
#    chainingMode: generic-veth
#    customConf: true
#    configMap: cni-configuration
#  routingMode: native
#  enableIPv4Masquerade: false
#  enableIdentityMark: false

  cni:
    chainingMode: null
    configMap: ""
    customConf: false